<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482348825270-anlhvhhjutlhsmv04901nlrl2r49t6qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482348825270-anlhvhhjutlhsmv04901nlrl2r49t6qj</string>
	<key>API_KEY</key>
	<string>AIzaSyCkL3ED3KERVqimKUbxmyLksDGQ0gOvXB4</string>
	<key>GCM_SENDER_ID</key>
	<string>482348825270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Evgenij.Voronov.Diary-Master</string>
	<key>PROJECT_ID</key>
	<string>diary-master-60b23</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-master-60b23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482348825270:ios:1314d726e99fcda6d08417</string>
</dict>
</plist>